* {
    box-sizing: border-box;
}

.header-panel {
    background-color: #232f3e;
    height: 144px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    /*font-size: 20px;*/
    /*font-weight: 400;*/
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
}

.pages .header {
    color: #444;
    /*font-size: 24px;*/
    /*font-weight: normal;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 60px;*/
    /*letter-spacing: 1.20000004768372px;*/
}

a {
    color: #CF6C0E;
}
a:hover, a:active {
    color: #CF6C0E;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #CF6C0E;
}

.m-t-0 {
    margin-top: 0;
}

.blurry {
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,1);
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
}

#source-modal h4 {
    color: black;
}

#paypal .btn {
    padding: 5px 30px 6px 30px;
}

#paypal input {
    background: transparent;
    border: 0;
}

.cbwrapper div {
    display: none;
}

.cbwrapper div:nth-child(2) {
    display: block;
}

#carbonads, #fakecb {
    border: 1px solid #d5d5d5;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    width: 340px;
    padding: 20px;
    margin: auto;
    height: 142px;
    border-radius: 2px;
}

#carbonads .carbon-img {
    float: left;
    display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
    float: left;
    width: 150px;
    padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
    text-decoration: none;
}

#carbonads .carbon-poweredby {
    color: #9D9D9D;
}

/*#checkbox .sample1 label {*/
    /*font-weight: bold;*/
/*}*/

/*#checkbox .hint {*/
    /*padding-left: 45px;*/
    /*padding-top: 20px;*/
    /*font-weight: 400;*/
/*}*/

/*#checkbox .sample1 {*/
    /*padding-bottom: 20px;*/
/*}*/

/*#checkbox h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#checkbox .sample2 {*/
    /*width: 300px;*/
    /*clear: both;*/
    /*font-weight: 400;*/
/*}*/

/*#checkbox .sample2 {*/
    /*padding: 10px 0;*/
/*}*/

/*#checkbox .sample2 .text {*/
    /*display: inline-block;*/
/*}*/

/*#checkbox .sample2 .checkbox {*/
    /*float: right;*/
    /*margin: 0;*/
/*}*/

/*#progress-bar h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#dialog h2 {*/
    /*padding: 14px;*/
    /*margin: 0;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
/*}*/

/*#shadow h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#shadow .sample {
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
}

#shadow-sample2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

#shadow-sample3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*#radio-button h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 50px;*/
/*}*/

/*#radio-button .radio {*/
    /*margin: 20px 10px;*/
/*}*/

/*#input h2 {*/
/*padding: 14px;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#input .inputs {
    width: 80%;
}

/*#input .form-group {*/
    /*margin: 30px 0;*/
/*}*/

/*#slider .sample1, #slider .sample2 {*/
    /*padding: 20px 0;*/
    /*background-color: #f0f0f0;*/
    /*margin-bottom: 20px;*/
/*}*/

/*#slider .sample2 {*/
    /*height: 150px;*/
/*}*/

/*#slider .sample2 .slider {*/
    /*margin: 0 40px;*/
/*}*/

/*#slider h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#slider .slider {*/
    /*margin: 15px;*/
/*}*/

/*#button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#floating-action-button .btn {*/
    /*margin: 20px;*/
/*}*/

/*#floating-action-button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown .dropdown {*/
    /*font-size: 30px;*/
    /*padding: 20px;*/
/*}*/

/*#dropdown-menu h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown-menu .sample {*/
    /*width: 200px;*/
/*}*/

/*#dropdown-menu .form-group {*/
    /*margin: 30px 0;*/
/*}*/

/*#toggle-button h2 {*/
    /*font-size: 18.7199993133545px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 50px;*/
/*}*/

/*#toggle-button .togglebutton label {*/
    /*margin: 20px 10px;*/
    /*width: 200px;*/
/*}*/

/*#toggle-button .togglebutton .toggle {*/
    /*float: right;*/
/*}*/





/* CUSTOM */

/*.header-panel img {
    display: none;
}*/

#view_products .modal-dialog
{
  width: 70%;
}

#view_products .item .item_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

#view_products .item .item_img {
    max-width: 100%;
    height: 150px;
}

#view_products .item .item_details {
    font-weight: 400;
}

#view_products .item .item_details span {
    display: block;
    text-align: center;
    margin: 5px;
    font-weight: 600;
    font-size: 16px;
}

#view_products .item img {
    display: block;
    position: relative;
    margin: 15px auto 5px auto;
}

.bar {
    width: 100%;
    height: 5px;
    background: #EEE;
}

.fill {
    height: 100%;
    background: #e47911;
}

table.filter_options input {
    margin: 0;
    display: inline-block;
    width: 45%;
    font-weight: 400;
}

table.filter_options tr td:not(:first-child) {
    width: 13.5%;
}

table.filter_options input {
    margin: 0;
    display: inline-block;
    width: 45%;
}

table#subcats tbody tr td:first-child {
    font-size: 12px;
    font-weight: 400;
}

table#subcats tr td:not(:first-child) span {
    margin-top: 10px;
    display: inline-block;
}

table#subcats tr td:nth-child(2), table#subcats tr td:nth-child(3), table#subcats tr td:nth-child(4), table#subcats tr td:nth-child(5), table#subcats tr td:nth-child(6), table#subcats tr td:nth-child(7) {
    width: 100px;
    padding-top: 13px;
    text-align: center;
    font-weight: 400;
}

table#subcats tr td:last-child {
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    width: 60px;
    padding-top: 16px;
}

table#subcats tr td.less_than_5:after {
    content: "<";
    margin: 0 0 0 -25px;
}

a.cat_name {
    font-weight: 500;
    color: #444;
    font-size: 17px;
}

span.cat_path {
    font-size: 12px;
}

span.cat_path a {
    color: #CF6C0E;
    font-weight: 400;
}

.main h1 {
    margin-top: 0;
}

input, select {
    border: 1px solid #BBB;
    border-radius: 3px;
    padding: 5px 10px;
    color: #444;
    margin: 10px 3px;
}

.menu ul {
    margin: 0;
}

.menu ul li.active {
    background-color: #E39316;
    color: #FFF;
    position: relative;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: rgba(207, 108, 14, 0.85);
    border: 0;
    color: #FFF !important;
    padding: 4px 12px;
}

p {
    font-weight: 400;
}

.alert {
    display: block;
}


#loading {
    margin: 50px auto;
    display: none;
}


#take_screenshot .modal-dialog
{
  width: 70%;
}

.take_screenshot {
    float :right;
}
table#subcats tr:hover td .take_screenshot {
    display: inline-block;
}

#take_screenshot table#products {
    background: url(../logo_trans.png) no-repeat center center;
}

table#products tr td:nth-child(2), #products tr th:nth-child(2) {
    max-width: 500px;
}

#take_screenshot table#products>tbody>tr:nth-of-type(odd) {
    background-color: rgba(50,50,50,.05);
}

#take_screenshot table#products>tbody>tr:hover {
    background-color: rgba(50,50,50,.05);
}

#take_screenshot table#products tr th {
    text-align: center;
}

#take_screenshot table#products tr td {
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.take_screenshot img {
    width: 20px;
}